html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16;
}

body {
  background: radial-gradient(circle at center, #ffffff, #e6e6e6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  width: 90%;
  margin: auto;
}

.div-form {
  margin: 'auto';
}

.div-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
